
<div class="row top-bar">
    <div class="col s12 card-panel">
        <div class="container">
            <h1>Projects</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="card-panel">
        <h3>Your Projects</h3>
        You do not have any projects
    </div>

    <div class="card-panel">
        <h3>Assigned Tasks</h3>
        You are not assigned to any tasks
    </div>

    <div class="card-panel">
        <h3>Projects Awaiting Recommendation</h3>
        No projects are awaiting recommendation
    </div>

    <div class="card-panel">
        <h3>Projects Awaiting Approval</h3>
        No projects are pending approval
    </div>
</div>
